<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/mainpage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>home</title>
</head>
<body>
    <header class="container-fluid"></header>
    <nav class="navbar navbar-light dark_color">
            <a class="navbar-brand ">N-Resume</a>
            <form class="form-inline">
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <button class="btn btn-success btn_clr my-2 my-sm-0" type="submit">SIgnUp</button> -->
            </form>
          </nav>

          <div class="bg_grd container-fluid centeralign">
            
          
                      <p class="text_pos">Pick a resume template below that represents your skills and work experience the best. Our ATS-friendly resume templates are developed together with recruiters and employers, so you are sure you are putting your best foot forward when applying for a job position.</p>
          </div>

                      
            
            
       
    </header>
    
    <main class="container-fluid bgrnd">
    
        <div class="container">
            <div class="row">
                <div class="col-4"> <div class="card" style="width: 18rem;">
                        <img src="../Assets/1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic</h5>
                          <a href="../views/temp1.html"" class="btn btn-block btn-secondary">Build</a>
                        </div>
                      </div></div>

                      <div class="col-4"> <div class="card" style="width: 18rem;">
                            <img src="../Assets/1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Classic</h5>
                              <a href="../views/temp1.html" class="btn btn-block btn-secondary">Build</a>
                            </div>
                          </div></div>

                          <div class="col-4"> <div class="card" style="width: 18rem;">
                                <img src="../Assets/1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Classic</h5>
                                  <a href="../views/temp1.html" class="btn btn-block btn-secondary">Build</a>
                                </div>
                              </div></div>
        </div>
                     
                    
        </div>
    </main>
    <footer class="container-fluid bg_grd centeralign">
        <hr>
                    <p class="text_pos"><b>Resume Templates That Will Land You a Dream Job!</b></p>
                               
                
    </footer>
</body>
</html>