<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="../css/temp1style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classic</title>
</head>
<body>
<main class="container">
      
    
    <div class="container-fluid head_portion">
            <div class="container-md text-center">
                <div class="row ">
                    <div class="col-sm">
                        <h1 id="name" name="user_name">Name</h1>
                    </div>
                </div>
                <div class="row">
                        
                    <div class="col-sm">
                        <span id="address" name="user_city">x-city</span>
                    </div>
                    </div>

                <div class="row">
                        
                    <div class="col-sm">
                        <span id="email" name="user_email">email</span>
                    </div>
                </div>
            </div>
        </div>
    <hr>
    
    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                        <div class="col-sm">
                            <h5 id="Professional_summ">Summary</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p name="prof_summary"> Enthusiastic professional with proven ability to design and deliver training to a variety of individuals on
                                    topics ranging from safety to computer programs. Currently pursuing a Bachelor’s in Human Resource
                                    Management with a major in Training and Performance Improvement. Possesses easily transferable
                                    skills such as organization, working with teams, and writing skills.</p>
                        </div>
                    </div>
                   

            </div>
    </div>


    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                         <div class="col-sm">
                            <h5 id="Professional_summ">Skills</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ul class="li-skill">
                                <li>Skill-1</li>
                                <li>Skill-1</li>
                                <li>Skill-1</li>
                                <li>Skill-1</li>
                                

                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="li-skill">
                                    <li>Skill-1</li>
                                    <li>Skill-1</li>
                                    <li>Skill-1</li>
                                    <li>Skill-1</li>
                                 

                            </ul>
                        </div>
                    </div>

            </div>
    </div>



    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                        <div class="col-sm">
                            <h5 id="Professional_summ">Work History</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <ul>
                               
                                    <li><p name="his_name" class="bolder">
                                        History1-heading
                                    </p> <span name="his_date" class="bolder">2000-2010</span>
                                        <p name="his1"> worked on the major project for the company and helped the company to grow their
                                            revenue by 10% using the latet AI and BI tools.
                                            made the use of latest front-end frameworks and revamped the website for handeling scalability.
                                        </p>               
                                    </li>
                                    <li><p name="his_name" class="bolder">
                                            History1-heading
                                        </p> <span name="his_date" class="bolder">2000-2010</span>
                                            <p name="his1"> worked on the major project for the company and helped the company to grow their
                                                revenue by 10% using the latet AI and BI tools.
                                                made the use of latest front-end frameworks and revamped the website for handeling scalability.
                                            </p>               
                                        </li>
                                    
                                        <li><p name="his_name" class="bolder">
                                                History1-heading
                                            </p> <span name="his_date" class="bolder">2000-2010</span>
                                                <p name="his1"> worked on the major project for the company and helped the company to grow their
                                                    revenue by 10% using the latet AI and BI tools.
                                                    made the use of latest front-end frameworks and revamped the website for handeling scalability.
                                                </p>               
                                            </li>

                                </li>

                            
                        </div>
                    </div>
                   

            </div>
    </div>


    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                        <div class="col-sm">
                            <h5 id="Professional_summ">Education</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                                <ul>
                                     <li><p name="ed_name" class="bolder">
                                            Education-school/college
                                        </p> <span name="ed_date">2000-2010</span>
                                            <p name="ed_degree">B.tech</p>
                                                       
                                        </li>
                                        <li><p name="ed_name" class="bolder">
                                                Education-school/college
                                            </p> <span name="ed_date">2000-2010</span>
                                                <p name="ed_degree">B.tech</p>
                                                           
                                            </li>
                                        
                                            <li><p name="ed_name" class="bolder">
                                                    Education-school/college
                                                </p> <span name="ed_date">2000-2010</span>
                                                    <p name="ed_degree">B.tech</p>
                                                               
                                                </li>
    
                                    </li>
                        </div>
                    </div>
                   

            </div>
    </div>




    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                        <div class="col-sm">
                            <h5 id="Professional_summ">Hobbies & Interests</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                               <p>hobbies, hobbie1, hobbie2 ,hobbie3 </p>
                        </div>
                    </div>
                   

            </div>
    </div>
        
    <div class="container-fluid summ">
            <div class="container-md">
                    <div class="row">
                        <div class="col-sm">
                            <h5 id="Professional_summ">Achievements</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <ul>
                                <li><p name="achievement">achievement</p></li>
                                <li><p name="achievement">achievement</p></li>
                                <li><p name="achievement">achievement</p></li>
                                
                            </ul>
                        </div>
                    </div>
                   

            </div>
    </div>
        
</main>

</body>
</html>